.parent{
    background-color: blanchedalmond;
    padding: 22px;
    margin: 20px;
    border: 20px;
    color: black;
    width:auto;
    display:flex;
    flex-direction:row-reverse;
}
.child{
    background-color:rgb(209, 202, 202);
    padding:20px;
    justify-content: space-around;
    text-align: center;
    gap:20px;



}
.id{
    border-radius: 20px;
    background-color: blanchedalmond;
}